<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Frameworks comparision - Symfony2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body>
    <h1>Framework comparision application</h1>
    {% block content %}{% endblock %}
    <div class="row">
        <div class="span4 offset12"><span class="label notice">Created with Symfony2</span></div>
    </div>
</body>
</html>
